.container {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.page__header {
  padding-top: 45px;
}
.main-navigation__list {
  display: flex;
  list-style-type: none;
  gap: 68px;
  justify-content: center;
  margin: 0;
}

.main-navigation__link {
  text-decoration: none;
  text-transform: uppercase;

  color: #4e4e4e;
}
.image {
  background-image: url(../img/road.png);
  background-size: cover;
  height: 550px;
  margin-top: 51px;
}
/*******************************************************************/
.section-posts {
  margin-top: 56px;
  margin-bottom: 60px;
}
.posts-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.posts-all {
  display: flex;
  flex-wrap: wrap;
}
.posts-part {
  display: flex;
  width: 50%;
  margin-bottom: 32px;
}
.posts-text {
  margin-left: 21px;
}
.posts-text1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #4e4e4e;
  margin: 0;
}
.posts-text2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  margin: 0;
}
.posts-text3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #5c5c5c;
  margin: 0;
  margin-top: 13px;
}
/********************************************instagram*********************************************************/
.instagram {
  background-color: #f7f7f7;
  background-size: cover;
  padding-top: 47px;
  padding-bottom: 49px;
}
.instagram-titles {
  display: flex;
  justify-content: space-between;
}
.instagram-title1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.instagram-title2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4e4e4e;
}
.instagram-images {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
/********************************************footer*********************************************************/
.footer {
  background-color: #000000;
  background-size: cover;
  padding-top: 66px;
  padding-bottom: 70px;
  margin-top: 49px;
}
